HOST=<The domain name in which the ESVA instance will be installed (e.g. esva.example.pt)>
ESVA_BACKEND=<The contents of the HOST variable followed by "/core" (e.g. esva.example.pt/core)>
REGISTRY_FQDN="dev-registry.erasmuswithoutpaper.eu" <you may change it if you want to use the production registry>
CERT_DOMAIN=<the name of your EWP certificates (e.g. if you have files called esva.example.pt.crt or esva.example.pt.key, write here esva.example.pt). Check README for more information>
EWP_KEY_ID=<the SHA256 of your institution public key. Check your host represented in EWP catalogue>
DB_PASS=<The password for the validator to connect to the database container. Generate a password and write in quotation marks (DB_PASS="password")>
TIME_STORAGE_LOGS=<The duration, in months, for the storage of the validator logs. Make sure that this value matches the duration mentioned in the Privacy Policy>